*{
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  font-family: mono;
  text-align: center;
  margin-top: 30px;
}

h1{
  padding-top: 70%;
  font-size: 6rem;
}

main{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  gap:1rem;
  justify-content: center;
  input[type=text]{
    padding: 1rem;
  }
  button{
    padding: 1rem;
    top: -5px;
  }
}

input[type="text"] {
  padding: 8px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

canvas {
  max-width: 100%;
  margin-top: 10px;
}

.actions button {
  margin: 5px;
}